AppOpener
pywhatkit
pyautogui
python-dotenv
beautifulsoup4
rich
groq
requests
keyboard
wikipedia
pyautogui
PyQt5
cohere
cryptography
flask
flask-cors
flask-sqlalchemy
google-generativeai
googlesearch-python
imutils
mtranslate
numpy>=1.23
opencv-python
pandas
pillow
psutil
pyjokes
pygame
selenium
spacy
textblob
transformers
webdriver-manager
geocoder
torch
tensorflow
schedule
moviepy
tf-keras
diffusers
pydub
faiss-cpu
PyPDF2
markdown
numpy